#.travis.yml

language: node_js
node_js:
  - "node"
cache:
  - npm

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

branches:
  only:
    - master

before_script:
  - npm install -g @angular/cli
  - cd functions && npm install

script:
  - npm run lint
  - npm run build
  - cd ..
  - ng lint
  - ng build pp-pigpen --configuration=production --aot
  - npm start & cypress run

notifications:
  email:
    on_failure: change
    on_success: change

deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: "np77OgpsSr5MRNdwvYztm5xclbX52p8aBaUgQL2m2keqJTSBsl193FUHLTea+omMkRHi/df4HggiqDYgTajwRicnfWxVkTDSMyXJfkzbMhAflLH6UPgSUSEngqGOrmLfYA2Ui7Hsab0jrMCuXTYhQsbxqr5vYdUUD4XFTKfB0lwQtqSHSqfAs6NI+Hmaop7mEwZU03f9D8Tyv6sGVR8wtr9eDiha6X4bLSyVGtnvmArIWoLcVid0PGfOrLVQYiZ/AHI6WrbAD38oKSfZkA+6EEIRftxQH9426YBltxPK2MrI2Fnx3A+Mpjevbo2DdqKo4Na5f61FrlG+iyr/efzlFsM500DUgoRHjm7z+ce/kvQChCZ9FKekPWB+3XbPqbX0P1hcgPssvMzHV5TzrGE5lEhMazLaevXe1PdWmQuPWlY4l+MrnXA+LVos7WOboXfZyRSdjhrffSNgm7JbnQIKUCe1cOEbTB/zNzw2H0RUyVM6YvMooqjqaKHU1zyEiYCWBbnjOWWNwnxplu455MNUY9oBxnJOJBBTHnVTpoQekRpxeVdqzt6x1L8dADaM4U43ZbBjeTKC9L350RgGarhkiZIvbNoLXw70rRiP+6r2KwsEXokHr3Us64RU5VeMExzjobtkF9myHRgZRgC9ux2nckEk5W4OJBCgfuEgN52Fhx0="
