#.travis.yml

language: node_js
node_js:
  - "node"
cache:
  - npm

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

branches:
  only:
    - master

before_script:
  - sed -ri "s/TRAVIS_BUILD_NUMBER/$TRAVIS_BUILD_NUMBER/" src/environments/version.ts
  - sed -ri "s/TRAVIS_COMMIT/$TRAVIS_COMMIT/" src/environments/version.ts
  - npm install -g @angular/cli
  - npm install @sentry/cli
  - npm install -g wait-on
  - cd functions && npm install

script:
  - npm run lint
  - npm run build
  - cd ..
  - ng lint
  - ng build pp-pigpen --configuration=production --aot
  - npm start & wait-on http-get://localhost:4200
  - cypress run --browser chromium

notifications:
  email:
    on_failure: change
    on_success: change

deploy:
  provider: firebase
  skip_cleanup: true

#Don't think we need this with public source maps?
after_deploy:
  - sentry-cli releases new $TRAVIS_COMMIT
  - sentry-cli releases set-commits --auto $TRAVIS_COMMIT
  - sentry-cli releases files $TRAVIS_COMMIT upload-sourcemaps --rewrite dist/pp-pigpen

notifications:
  webhooks:
  - https://us-central1-pp-pigpen.cloudfunctions.net/apiTravisDeploy


