service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if isWebmaster();
    }

    match /cities/{docId} {
      allow read: if true;
      allow write: if GCCityMatches(docId);
    }

    match /info/{document=**} {
      allow read: if true;
      allow write: if isComms();
    }

    match /puzzleSets/{docId} {
      allow read: if true;
      allow write: if isEditor()
    }

    match /puzzles/{docId} {
      allow read: if true;
      allow write: if isEditor()
    }

    match /settings/{document=**} {
      allow read: if true;
      allow write: if isWebmaster()
    }

    match /users/{docId} {
      allow read, write: if uidMatches(docId);
    }

    match /users/{userId}/playtestFeedback/{puzzleId} {
      allow read, write: if uidMatches(userId);
    }

    function auth() {
      return request.auth != null;
    }

    function token() {
      return auth() && request.auth.token != null;
    }

    function isWebmaster() {
      return token() && request.auth.token.Webmaster;
    }

    function isEditor() {
      return token() && request.auth.token.Editor;
    }

    function isComms() {
      return token() && request.auth.token.Comms;
    }

    function isCityOps() {
      return token() && request.auth.token.CityOps;
    }

    function uidMatches(uid) {
      return auth() && request.auth.uid == uid;
    }

    function CGCityMatches(city) {
      return token() && request.auth.token.GCCity == city;
    }

  }
}
